$borderColor: $grey_3;
@mixin dropdownBorder($withCol) {
  @if $withCol{
    border: 0.6px solid $borderColor;
  } @else {
    border: 0.6px solid transparent;
  }
}


.dropdown {
  background-color: $grey_bg;
  position: relative;

  .title {
    padding: 0.6rem 1.1rem ;
    display: flex;
    align-items: center;
    width: 100%;
    @include dropdownBorder(false);
    border-bottom: none;


    .arrow {
      padding: 3px 6px 5.5px;
    }
  }
  .container {
    padding: 0.25rem 0;
  }

  .content {
    padding: .15rem 1.1rem 1.3rem;
    background-color: inherit;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 99999;
  }

  &.opened {
    .title  {
      border-color: $borderColor;
    }

    .arrow > svg {
      transform: rotate(180deg);
    }

    .content {
      @include dropdownBorder($withCol: true);
      border-top: none;
    }
  }
}