.footer {
  padding: 9.07rem 0 8.1rem;

  .content {
    max-width: 46.6rem;
    margin: auto;
  }

  .links {
    display: flex;
    justify-content: space-between;
  }

  .copyrights {
    color: #979797;
    text-transform: lowercase;
    margin-top: 2.7rem;
    text-align: center;
  }
}