.select {
  border-bottom: 0.06rem solid $grey_4;
  text-transform: uppercase;
  padding: 0.02rem 0;
  position: relative;

  & > button {
    min-width: 0;
    width: 100%;
    gap: 2px;
    @include flex($justify: space-between);
  }

  &.opened {
    & > button > svg {
      transform: scaleY(-1);
    }
  }

  .options {
    position: absolute;
    background-color: $grey_bg;
    top: 100%;
    left: 0;
    border: 0.06rem solid $grey_4;
    min-width: 100%;
    padding: 0.4rem 0;
    z-index: 9999;
    max-height: 200px;
    overflow: auto;

    & > li {
      cursor: pointer;
      padding: 0 0.4rem;

      &:hover {
        background-color: $grey_4;
        opacity: 0.8;
      }
    }
  }
}