.collabCard {
  @include flex(stretch, stretch);
  gap: pc($main_width, 32);

  &:not(:last-of-type){
    margin-bottom: pc($main_width, 11);
  }

  & > * {
    flex: 1 1 50%;
  }

  .colabImg {
    flex: 1 1 50%;
  }

  img {
    width: 100%;
    height: 100%;
    object-position: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding-bottom: pc($main_width, 23);
    max-height: 100%;
    flex: 1 1 50%;

    & > *:nth-child(2) {
      flex: 1;
      overflow: auto;
      margin: pc($main_width, 12) 0;
    }

    .btn {
      align-self: start;
    }

  }
}

@media screen and (max-width: 600px) {
  .collabCard {
    .colabImg {
      flex: 1 1 29%;
    }

    .content {
      flex: 1 1 69%;
    }
  }
}