.productCard {
  .content {
    max-width: calc(182.66 / 209.91 * 100%);
    margin: 1.5rem auto 0;
    text-align: center;
    line-height: 1.4rem;
  }

  &:hover {
    box-shadow: 1px 2px 5px $border_color2;
  }
}