$wrapper_width: 451;
$viewport_width: 1440;

.recovery {
  padding: pc($wrapper_width, 61) pc($wrapper_width, 74) pc($wrapper_width, 63);
  width: $wrapper_width + px;
  max-width: vw($viewport_width, $wrapper_width);
  min-height: $modal_height-l;
  display: flex;
  flex-direction: column;

  .info {
    text-transform: uppercase;
    flex: 1;
  }

  .form {
    padding: 4.5rem 0 1rem;
  }

  .btn {
    margin-top: 2.7rem;
  }
}