.pageNav {
  border-bottom: $border_width solid $border_color2;
  padding: 0 0 pc($main_width, 15);
  position: relative;

  & > ul {
    @include flex($justify: flex-start);
    gap: pc($main_width, 84);
  }

  .underline {
    position: absolute;
    content: '';
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
    background-color: $border_color2;
  }

  @include respond-to('mobile') {
    & > ul {
      overflow-x: auto;
      flex-wrap: nowrap;
      padding-bottom: 0.5rem;
      gap: 2rem;
      -webkit-overflow-scrolling: touch;
    }
  }
}