.stepper {
  display: inline-flex;
  justify-content: space-between;
  padding: 0.01rem 0.754rem 0.01rem 1.057rem;
  border: 0.06rem solid $border_color;

  & > input {
    max-width: calc(100% - 15px);
  }

  .arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .arrow {
      padding: 4px;
      line-height: 0;
      text-align: center;
      cursor: pointer;

      &:first-of-type > svg {
        transform: rotate(180deg);
      }
    }
  }
}