/* COLORS */
$blue: #8CC7EC;
$grey: #60676B;
$grey_2: #A5A5A5;
$grey_3: #DFDFDF;
$grey_4: #CBCBCB;
$grey_bg: #F0F0F0;
$grey_light: #B6B6B6;
$white: #FFFFFF;
$border_color: #C5C5C5;
$border_color2: #B6B6B6;
$success: #81E491;
$error: #E48181;
$overlay-color: rgba(0, 0, 0, 0.77);

/* FONTS */
$font_bold: 'PTSans-Bold', sans-serif;
$font_normal: 'PTSans-Regular', sans-serif;

/* SIZE */
$border_width: 0.06rem;
$main_width: 866;

/* MODAL */
$modal_zindex: 999;
$modal_height-l: 382px;

/* VIEWPORT */
$viewport_width-l: 1440;

$loader_zindex: 9999;


