@import 'fonts';
@import 'reset';

html, body {
  font-family: $font_normal;
  font-style: normal;
  font-size: 10px;
  line-height: 1.4rem;
  color: $grey;
}

body {
  background-color: $grey_bg;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .flex-grow {
    flex-grow: 1;
  }
}


.container {
  width: calc(1252 / 1440 * 100%);
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.col-1 {
  flex: 0 0 16%;
}

.col-2 {
  flex: 0 0 69%;
}

.col-3 {
  flex: 0 0 15%;
}
