.button {
  display: inline-block;
  padding: 0.5rem 1.7rem;
  border: 0.06rem solid $accent_dark;
  text-transform: uppercase;
  transition: color .5s ease-in-out, background-color .5s ease-in-out, border-color .5s ease-in-out;

  &.disabled {
    @include disable;
  }
  &:not(.disabled):hover,
  &:not(.disabled):active {
    color: $background_alt;
    background-color: $text_secondary;
    border-color: $accent_light;
  }
}