.collectionInfo {
  display: flex;
  gap: 10px;

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }

  & > * {
    flex: 1;
  }

  &:not(:last-of-type) {
    margin-bottom: pc($main_width, 35);
  }

  .title {
    font-family: "Druk Medium", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .content {
    margin: pc($main_width, 27) 0 pc($main_width, 24);
    font-size: 1.3em;
  }

  .paragraph:not(:last-of-type) {
    margin-bottom: 10px;
  }

  .imgs {
    display: flex;
    flex-wrap: wrap;

    & > * {
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }

    &_2 {
      gap: 7px;

      & > * {
        @include getItemFlexSize($generalSize: $main_width, $itemsAmmount: 2, $itemSize: 429, $gap: 7);
        height: 200px;
      }
    }

    &_3 {
      column-gap: 5px;
      row-gap: 4px;

      & > * {
        flex: 1 1 48%;
        height: 100px;
      }

      & > *:first-of-type {
        flex: 0 0 100%;
        height: 150px;
      }
    }

    &_4 {
      gap: 5px;

      & > * {
        @include getItemFlexSize($generalSize: $main_width, $itemsAmmount: 4, $itemSize: 212, $gap: 7);
        height: 150px;
      }
    }
  }

  &:nth-child(2n) .imgs {
    flex-wrap: nowrap;
  }
  .btn {
    margin-left: auto;
    display: block;
  }
}

@media screen  and (max-width: 800px) {
  .collectionInfo {
    flex-direction: column;
  }

  .img {
    &_3 {
      & > * {
        height: 150px;
      }

      & > *:first-of-type {
        height: 180px;
      }
    }
  }
}