.root {
  padding: pc($main_width, 48) 0 pc($main_width, 72);
  max-width: #{$main_width}px;
  margin: 0 auto;
}

.heading {
  margin-bottom: 2.5rem;
}

.section {
  margin-bottom: 3rem;
}

.sectionTitle {
  margin-bottom: 1rem;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}

.actions {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.backBtn {
  font-family: $font_normal;
  font-size: 0.8rem;
  color: $grey;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  &:hover {
    color: $grey_2;
  }
}
