.header {
  padding: 2.6rem 0;
  display: flex;
  align-items: center;

  .logo {
    padding: 0 2.7rem;
  }

  .actions {
    padding: 0 2.7rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
      padding: 5px;
    }
  }

  .searchHolder {
    text-align: right;
  }

  .cartBtn {
    position: relative;

    .items {
      position: absolute;
      content: '31';
      top: 0;
      right: 0;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $blue;
      color: $white;
      font-size: 4px;
      line-height: 6px;
      @include flex($justify: center);
      display: none;
    }

    &.active {
      .items {
        display: flex;
      }
    }
  }
}