$wrapper_width: 451;
$viewport_width: 1440;

.changePassword {
  padding: pc($wrapper_width, 61) pc($wrapper_width, 74) pc($wrapper_width, 63);
  width: $wrapper_width + px;
  max-width: vw($viewport_width, $wrapper_width);
  min-height: $modal_height-l;
  display: flex;
  flex-direction: column;

  .form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;

    & > *:first-child {
      flex: 1;
    }

    .btn {
      align-self: flex-start;
    }
  }
}